@import "partials/footer";

body{

    background-color: olivedrab;
    
    section{

        .card{
        
            ul{
                color: white;
                display: flex;
                flex-wrap: wrap;
                background-color: white;
                border: 1px solid black;
                border-radius: 20px;

    
                li{
                    list-style: none;
                    border: 1px solid black;
                    border-radius: 20px;
                    width: calc(100% / 3 - 1rem);
                    margin:.3rem;
                }

                li:hover{
                    color: blue;
                }
                
                //  h3{
                //     color: red;
                // }
            }
           
        }
    }
}



